* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.app__header {
    background-color: #08536B;
}

.app__content {
    margin: 20px auto;
}

.app__content .col-3 {
    border-right: 1px solid #000;
}

.btn-sign-out {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    background-color: transparent;
}

.app__content .col-9 {
    padding-left: 24px;
}

select {
    font-family: Arial, Helvetica, sans-serif;
}

.app__sidebar-list {
    list-style: none;
    font-size: 20px;
    line-height: 40px;
}

.app__sidebar-item {
    cursor: pointer;
}

.app__sidebar-item.app__sidebar-item--active {
    font-weight: 600;
}

/* Your Account */
.form-detail {
    display: flex;
    justify-content: space-between;
}

.form-avatar {
    width: 320px;
    position: relative;
}

.form-avatar__message {
    position: absolute;
    top: 32%;
    left: 18%;
    opacity: 0;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    transition: all 0.7s;
    -webkit-text-stroke: 1px black;
}

.app__main-label-img {
    cursor: pointer;
}

.form-avatar:hover .app__main-img {
    filter: brightness(60%) blur(4px);
}

.form-avatar:hover .form-avatar__message {
    transform: translateY(80%);
    opacity: 1;
}

.app__main-img {
    width: 100%;
    height: 320px;
    margin-top: 20px;
    border-radius: 4px;
}

.form-group + .form-group {
    margin-bottom: 0;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    line-height: 1.5;
    font-size: 20px;
}

.form-control {
    height: 36px;
    outline: none;
    font-size: 16px;
    max-width: 400px;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: #e6e6e6;
}

.form-group > input::placeholder {
    color: var(--text-color);
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
}

.form-edit {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #1dbfaf;
}

.form-edit:hover {
    background-color: #1ac7b6;
}

.button-handle {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

input[type="submit"]:disabled,
button:disabled,
button:disabled:hover {
    background: #ccc;
}

/* View all bookings */
.app__view-message {
    display: block;
    margin-bottom: 24px;
    font-size: 28px;
}

.app__view-link {
    color: var(--white-color);
    font-size: 24px;
    text-decoration: none;
    padding: 12px 80px;
    background-color: #08536B;
}

.app__view-link:hover {
    background-color: #0f617e;
    color: white;
}

.app__view-list + .app__view-list {
    margin-top: 80px;
}

.app__view-title {
    font-size: 24px;
}

.app__view-item {
    display: flex;
    border-radius: 8px;
    text-decoration: none;
    will-change: transform;
    transition: transform ease-in 0.1s;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

.app__view-item + .app__view-item {
    margin-top: 20px;
}

.app__view-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%);
}

.app__view-img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin: 12px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
}

h4, p {
    margin-bottom: 0;
}

.app__view-item-status {
    display: none;
}

.app__view-item-status.app__view-item-status--active {
    color: #A50B0B;
}

.app__view-item-price {
    margin: 52px 20px;
    font-size: 24px;
    line-height: 24px;
    color: var(--black-color);
}

.app__view-list.app__view-list-status .app__view-item-status {
    display: block;
}

/* Favourites */
.app__favourite-none {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f4f3;
}

.app__favourite-none-icon {
    font-size: 28px;
    color: #525252;
    margin-top: 40px;
}

.app__favourite-none-title {
    display: block;
    font-size: 24px;
    color: var(--black-color);
    font-weight: 600;
    margin: 24px 0 16px;
}

.app__favourite-none-desc {
    color: var(--text-color);
    margin-bottom: 20px;
}

/* Inbox */
.app__inbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    animation: fadeIn 0.2s linear;
}

#app__inbox-input:checked ~ .app__inbox-overlay {
    display: block;
}

#app__inbox-input:checked ~ .app__inbox {
    transform: translateX(0);
    opacity: 1;
}

.app__inbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 1100px;
    max-width: 100%;
    background-color: var(--white-color);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
}

.row > * {
    padding: 0;
}

.app__inbox-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.1);
}

.app__inbox-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.app__inbox-item-content {
    color: var(--text-color);
    text-align: justify;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.app__inbox-message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.app__inbox-message-reply {
    border: none;
    outline: none;
    height: 36px;
    color: #fff;
    border-radius: 12px;
    background-color: blue;
}

.app__inbox-message-reply:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.app__inbox-message-title {
    font-size: 24px;
    font-weight: 600;
}

.app__inbox-message-main {
    text-align: justify;
    line-height: 1.5;
}

.app__inbox-message-send {
    display: none;
}

#app__inbox-message-textarea {
    flex: 1;
    padding: 8px;
}

.app__inbox-message-input {
    margin-left: 16px;
    height: 40px;
}