* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app__header {
    background: url("../assets/img/background/Sign_Up_page_for_customers.png") top center / cover no-repeat;
    height: 100vh;
    position: relative;
}

.form {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-title{
  text-align: center;
  margin-bottom: 12px;
}

.form-group {
    margin-bottom: 16px;
}

.form-btn {
    width: 100%;
    height: 40px;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}