.app__content-nav-item:nth-child(3) {
    color: black;
    border-bottom: 4px solid #000;
}

.app__form-filter label {
    font-weight: 600;
}

.app__form-filter select,
.app__form-filter input {
    height: 32px;
    padding-left: 8px;
}

.app__form-filter > input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
    cursor: pointer;
}

.app__form-filter + .app__form-filter {
    margin-left: 16px;
}

#input-search {
    padding: 0 8px;
    width: 300px;
    outline: none;
}

th, td {
    padding: 4px 8px;
}

th:not(th:first-child),
td:not(td:first-child) {
    text-align: center;
}