* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__content {
    background: url(../assets/img/background/image_33.png) top center / cover no-repeat;
    display: block;
    height: 100vh;
}

.login_main-content {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.login__plan {
    text-align: center;
}

.login__plan-title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: var(--white-color);
    font-size: 100px;
    font-weight: 300;
}

.login__plan-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.login__plan-text {
    flex: 1;
    color: var(--white-color);
}

.login__plan-link {
    text-decoration: none;
}

.login__plan-img {
    width: 80px;
    height: 48px;
}

.form-group {
    margin-top: 16px;
}

.remember {
    display: flex;
    padding: 0 0 16px;
}

.form-remember-text {
    color: var(--white-color);
    padding: 4px 8px;
    cursor: pointer;
}

.login__google {
    display: flex;
    border: none;
    outline: none;
    padding: 8px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
}

.login__google:hover {
    background-color: rgb(217, 217, 217);
}

.login__google-img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.app__nav-mobile {
    display: none;
}